@use 'theme/color';
@use 'theme/size';

.hueSelector {
  color: color.$accent-container;
}

.focusArrow {
  stroke: color.$accent-container;
}

.popoverPortal {
  z-index: 3;
}

.popoverContent {
  display: flex;
  padding: 4px 12px;
  border-radius: size.$border-radius-small;
  background-color: color.$accent-container;
}

.popoverArrow {
  fill: color.$accent-container;
}
