@use "theme/scss/util";
@use "theme/scss/color";
@use "theme/scss/size";

.scribble {
  bottom: -10vh;
  left: -5%;
  width: 110%;
  @include util.mw-sm {
    bottom: -20vh;
  }
  @include util.mw-md {
    bottom: -30vh;
  }
}

.numberedSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: size.$spacing-large;

  @include util.mw-md {
    flex-direction: row;
    gap: calc(2 * #{size.$spacing-large});
  }
}

.number {
  font-size: 8em !important;
  color: color.$accent-primary;
}
