@use "theme/scss/util";
@use "theme/scss/color";

.scribble {
  bottom: -10vh;
  left: -5%;
  width: 110%;
  @include util.mw-sm {
    bottom: -20vh;
  }
  @include util.mw-md {
    bottom: -30vh;
  }
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(2 * var(--spacing-size-large));
}

.number {
  font-size: 8em !important;
  color: color.$accent-primary;
}
