@use 'theme/layout';
@use 'theme/size';
@use 'theme/color';

.page {
  @include layout.page;
}

.hero {
  @include layout.section('neutral');
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1, p {
    font-weight: 400;
    line-height: 1.3;
    font-size: size.$font-large;
    z-index: 2;
  }
}

.lchDescription {
  @include layout.section('neutral');
  min-height: auto;
  margin: size.$spacing-large;
  h1, p {
    font-weight: 400;
    line-height: 1.3;
    font-size: size.$font-medium;
    z-index: 2;
  }
}

.scale {
  flex: 1 0 auto;
}

.separatorPrimary {
  background-color: color.$accent-primary;
  height: 1px;
  width: calc(100% + #{size.$spacing-large});
  margin: 0 calc(-1 * #{size.$spacing-large});
}
.separatorSecondary {
  background-color: color.$accent-container-contrast;
  height: 1px;
  margin-inline: size.$spacing-large;
}
