@use 'theme/color';
@use 'theme/size';

.button {
  all: unset;
  width: 20px;
  height: 20px;
  border-radius: size.$border-radius-small;
  cursor: pointer;
}

.colorSelector {
  background-color: color.$background;
  border: 2px solid color.$accent-primary;
  -webkit-tap-highlight-color: transparent;
}

.navButton {
  stroke: color.$accent-secondary;
}
