@use 'theme/scss/size';
@use 'theme/scss/color';
@use '../../src/theme/scss/util';

.article {
  position: relative;
  height: min-content;
  display: flex;
  flex-direction: column;
  border-radius: size.$border-radius-large;
  border: 1px solid color.$accent-primary;
  color: color.$text-primary;
  text-decoration: none;
  overflow: hidden;

  width: 280px;
  @include util.mw-md {
    width: 320px;
  }
  @include util.mw-lg {
      width: 430px;
  }

  h2 {
    font-size: size.$font-small;
    font-weight: 400;
  }
}

.trigger {
  color: currentColor;
  text-decoration: none;
  background: none;
  border: none;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
}

.image {
  aspect-ratio: 430 / 280;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: size.$spacing-small;
  width: 100%;
}

.footer {
  border-top: 1px solid color.$accent-primary;
  background-color: color.$accent-tint;
}

.iconButton {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.iconTooltip {
  background: color.$accent-container-contrast;
  color: color.$accent-container;
  padding: 8px 12px;
  border-radius: size.$border-radius-small;
}

.iconTooltipArrow {
  fill: color.$accent-container-contrast;
}

.tags {
  display: flex;
  gap: 8px;

  & > svg {
    width: 20px;
    height: 20px;
    stroke: color.$text-primary;
  }
}
