@use "theme/scss/color";
@use "theme/scss/size";

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.container {
  background-color: color.$background;
  border-radius: size.$border-radius-large;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 85vh;
  padding: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.header {
  width: 1em;
  height: 1em;
}

.body {
  margin: 10px 0 size.$spacing-small;
}

.footer {
  display: flex;
  gap: size.$spacing-small;
  justify-content: flex-end;
}

.closeButton {
  all: unset;
  padding: 4px 8px;
  border-radius: size.$border-radius-small;
  cursor: pointer;
  background-color: color.$accent-tint;
  color: color.$text-primary;
}

.primaryButton {
  @extend .closeButton;
  background-color: color.$accent-primary;
  color: color.$accent-tint;
  border: 1px solid transparent;
}

.secondaryButton {
  @extend .closeButton;
  background-color: color.$accent-tint;
  color: color.$accent-primary;
  border: 1px solid color.$accent-primary;
}
