@use 'theme/color';
@use 'theme/size';
@use 'theme/layout';

.page {
  @include layout.page;
}

.section {
  @include layout.section('accent');
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: size.$spacing-small;
}

.image {
  max-width: 300px;
  height: auto;
  border-radius: size.$border-radius-large;
  border: 1px solid color.$accent-primary;
}

.text {
  width: 300px;
  height: 400px;
  color: color.$text-primary;
  display: grid;
  place-content: center;
  text-align: center;
  padding: size.$spacing-large;
}