@use 'theme/color';
@use 'theme/size';

.page {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  width: 95%;
  max-width: 768px;
  margin-bottom: 48px;
  padding: size.$spacing-large;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: size.$spacing-small;
}

.image {
  max-width: 250px;
  height: auto;
  border-radius: size.$border-radius-large;
  border: 1px solid color.$text;
}