@use 'theme/color';

.page {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  width: 95%;
  max-width: 768px;
  margin-bottom: 48px;
  padding: 24px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.image {
  max-width: 250px;
  height: auto;
  border-radius: 6px;
  border: 1px solid color.$text;
}