@use 'theme/color';
@use 'theme/size';

.container {
  position: fixed;
  bottom: size.$spacing-large;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 2;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
  }
  65% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

.actionbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 10px;
  border-radius: 44px;
  background-color: color.$accent-secondary-contrast;
  pointer-events: auto;
  animation-name: slideInFromBottom;
  animation-duration: 2500ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
