@use 'sass:map';
@use 'theme/color';
@use 'theme/color/primary';
@use 'theme/color/neutral';
@use 'theme/util';

// Neutral colors are applied at root
:root,
::before,
::after {
  @include neutral.make-theme('light');
  @media (prefers-color-scheme: dark) {
    @include neutral.make-theme('dark');
  }
}

*.neutral {
  @include util.all {
    @include neutral.make-theme('light');
    @media (prefers-color-scheme: dark) {
      @include neutral.make-theme('dark');
    }
  }
}

// Primary colors are scoped (.blue, .red, etc.)
@each $color in map.keys(primary.$colors) {
  *.#{$color} {
    @include util.all {
      @include primary.make-theme($color, 'light');
      @media (prefers-color-scheme: dark) {
        @include primary.make-theme($color, 'dark');
      }
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: 100svh;
  height: 100%;
}

body {
  color: color.$text;
  background-color: color.$background;
  display: grid;
  align-items: center;
}

abbr {
    text-decoration: none;
}
