@use 'theme/color';
@use 'theme/size';

:root {
  @include color.init;
  @include size.init;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: 100svh;
  height: 100%;
}

body {
  color: color.$text-primary;
  background-color: color.$background;
  display: grid;
  align-items: center;
}

abbr {
  text-decoration: none;
}
