@use 'theme/size';
@use 'theme/color';

.pageWrapper {
    background-color: color.$accent-primary-contrast;

    & > section {
        padding: size.$spacing-large;
        min-height: 100vh;

        &:last-of-type {
            // ActionBar affordance
            padding-block-end: 96px;
        }
    }
}
