@use "theme/scss/color";
@use "theme/scss/util";

.animatedPath {
  stroke: color.$accent-container-contrast;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  overflow: visible;

  position: absolute;
  right: 0;
  z-index: 1;

  stroke-width: 12px;
  @include util.mw-md {
    stroke-width: 18px;
  }

  & path {
    transition: opacity 800ms ease;
    will-change: stroke-dashoffset;
  }
}
