@use 'theme/scss/color';

.animatedPath {
  stroke: color.$accent-container-contrast;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  overflow: visible;

  position: absolute;
  right: 0;
  z-index: 1;

  & path {
    transition: opacity 800ms ease;
    will-change: stroke-dashoffset;
  }
}
