@use "theme/scss/color";
@use "theme/scss/size";

$fill: color.$text-primary;

.content {
  display: grid;
  place-content: center;
  padding: 0.2em 0.4em;
  font-size: size.$font-normal;
  color: color.$background;
  background-color: $fill;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease-in-out;
  z-index: 3;
}

.arrow {
  fill: $fill;
}
