@use "sass:map";

$modes: (
        "light": (
                "text": #1a1c1e,
                "background": #fdfcfe,
                "container-text": #000000,
                "container-background": #e4e4e4,
        ),
        "dark": (
                "text": #e3e2e4,
                "background": #1a1c1e,
                "container-text": #ffffff,
                "container-background": #515151,
        ),
);

$obfuscated-vars: (
        "text": "PJ6CVS",
        "background": "XaPDZ",
        "container-text": "DofEm",
        "container-background": "GiDeE",
);

$text: var(--#{map.get($obfuscated-vars, "text")});
$background: var(--#{map.get($obfuscated-vars, "background")});
$container-text: var(--#{map.get($obfuscated-vars, "container-text")});
$container-background: var(--#{map.get($obfuscated-vars, "container-background")});

$modes-list: map.keys($modes);

@mixin make-theme($mode) {
  @if map.has-key($modes, $mode) {
    @each $color-name, $color-value in map.get($modes, $mode) {
      $var: map.get($obfuscated-vars, $color-name);
      --#{$var}: #{$color-value};
    }
  } @else {
    @warn "Mode not found: #{$mode}";
  }
}
