@use 'sass:map';

$text-primary: var(--color-text-primary);
$text-secondary: var(--color-text-secondary);
$background: var(--color-background);
$accent-primary: var(--color-accent-primary);
$accent-primary-contrast: var(--color-accent-primary-contrast);
$accent-container: var(--color-accent-container);
$accent-container-contrast: var(--color-accent-container-contrast);
$accent-tint: var(--color-accent-tint);
$accent-tint-contrast: var(--color-accent-tint-contrast);

$lightnesses: (
        'light': (
                'text-primary': 30%,
                'text-secondary': 64%,
                'background': 100%,
        ),
        'dark': (
                'text-primary': 92%,
                'text-secondary': 78%,
                'background': 22%,
        ),
);

$chroma: 0;
$hue: 0;

@mixin make-mode($mode) {
  @each $color, $lightness in map.get($lightnesses, $mode) {
    --color-#{$color}: oklch(#{$lightness} #{$chroma} #{$hue});
  }
}

@mixin init {
  color-scheme: light;
  @include make-mode('light');

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    @include make-mode('dark');
  }

  body[data-mode='light'] {
    color-scheme: light;
    @include make-mode('light');
  }

  body[data-mode='dark'] {
    color-scheme: dark;
    @include make-mode('dark');
  }
}
