$font-normal: var(--font-size-normal);
$font-medium: var(--font-size-medium);
$font-large: var(--font-size-large);
$font-xlarge: var(--font-size-xlarge);

$spacing-small: var(--spacing-size-small);
$spacing-large: var(--spacing-size-large);

$border-radius-small: 8px;
$border-radius-large: 20px;

@mixin init {
  --font-size-normal: 1rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 4rem;
  --spacing-size-small: 8px;
  --spacing-size-large: 16px;

  @media (min-width: 768px) {
    --font-size-normal: 1rem;
    --font-size-medium: 2.6rem;
    --font-size-large: 3rem;
    --font-size-xlarge: 5rem;
    --spacing-size-small: 12px;
    --spacing-size-large: 24px;
  }

  @media (min-width: 1280px) {
    --font-size-normal: 1.25rem;
    --font-size-medium: 3rem;
    --font-size-large: 4rem;
    --font-size-xlarge: 6.5rem;
    --spacing-size-small: 20px;
    --spacing-size-large: 40px;
  }
}
