$font-small: var(--font-size-small);
$font-normal: var(--font-size-normal);
$font-medium: var(--font-size-medium);
$font-large: var(--font-size-large);

$spacing-small: var(--spacing-size-small);
$spacing-large: var(--spacing-size-large);

// this must be at least as big as the element's height
$border-radius-small: 500px;
$border-radius-large: 20px;

@mixin init {
  --font-size-small: 1rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 2rem;
  --spacing-size-small: 12px;
  --spacing-size-large: 16px;

  @media (min-width: 768px) {
    --font-size-small: 1rem;
    --font-size-normal: 1.25rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 3rem;
    --spacing-size-small: 16px;
    --spacing-size-large: 24px;
  }

  @media (min-width: 1280px) {
    --font-size-small: 1rem;
    --font-size-normal: 1.5rem;
    --font-size-medium: 2rem;
    --font-size-large: 4rem;
    --spacing-size-small: 20px;
    --spacing-size-large: 40px;
  }
}
