@use 'sass:list';

$sm-min: 640px;
$md-min: 768px;
$lg-min: 1024px;
$xl-min: 1280px;

@mixin mw-sm {
  @media (min-width: $sm-min) {
    @content;
  }
}

@mixin mw-md {
  @media (min-width: $md-min) {
    @content;
  }
}

@mixin mw-lg {
  @media (min-width: $lg-min) {
    @content;
  }
}

@mixin mw-xl {
  @media (min-width: $xl-min) {
    @content;
  }
}

@function displayP3($rgbValues) {
  $red: list.nth($rgbValues, 1) / 255;
  $green: list.nth($rgbValues, 2) / 255;
  $blue: list.nth($rgbValues, 3) / 255;
  @return color(display-p3, $red, $green, $blue);
}

@mixin all {
  &,
  &::before,
  &::after,
  & ::before,
  & ::after {
    @content;
  }
}

@mixin hover {
  @media(hover: hover) and (pointer: fine) {
    &:hover, &:focus-visible {
      @content;
    }
  }
}

@mixin mode($property, $light, $dark) {
  #{$property}: $light;
  @media (prefers-color-scheme: dark) {
    #{$property}: $dark;
  }
  body[data-mode='light'] & {
    #{$property}: $light;
  }
  body[data-mode='dark'] & {
    #{$property}: $dark;
  }
}
