
$sm-min: 640px;
$md-min: 768px;
$lg-min: 1024px;
$xl-min: 1280px;

@mixin mw-sm {
  @media (min-width: $sm-min) {
    @content;
  }
}

@mixin mw-md {
  @media (min-width: $md-min) {
    @content;
  }
}

@mixin mw-lg {
  @media (min-width: $lg-min) {
    @content;
  }
}

@mixin mw-xl {
  @media (min-width: $xl-min) {
    @content;
  }
}
