@use "theme/scss/color";
@use "theme/scss/size";

.section {
  padding: calc(2 * #{size.$spacing-large}) size.$spacing-large;
}

.icon {
  margin-left: 0.2em;
  width: 0.65em;
  height: 0.65em;
  stroke: color.$accent-primary;
  fill: none;
  animation: spin 25s linear infinite;
  stroke-linecap: round;
  stroke-linejoin: round;
  vertical-align: middle;
  overflow: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
