@use 'sass:map';
@use './primary';

$text-primary: var(--color-text-primary);
$text-secondary: var(--color-text-secondary);
$background: var(--color-background);
$accent-primary: var(--color-accent-primary);
$accent-primary-contrast: var(--color-accent-primary-contrast);
$accent-secondary: var(--color-accent-secondary);
$accent-secondary-contrast: var(--color-accent-secondary-contrast);
$accent-tertiary: var(--color-accent-tertiary);
$accent-tertiary-variant: var(--color-accent-tertiary-variant);

@mixin init {
  @include primary.make-theme('light');
  --color-text-primary: oklch(30% 0.002 250);
  --color-text-secondary: oklch(45% 0.004 250);
  --color-background: oklch(99% 0.004 308);

  @media (prefers-color-scheme: dark) {
    @include primary.make-theme('dark');
    --color-text-primary: oklch(91% 0.003 308);
    --color-text-secondary: oklch(81% 0.004 308);
    --color-background: oklch(22% 0.005 248);
  }
}

