@use 'sass:map';
@use './base';

$text: var(--#{map.get(base.$obfuscated-vars, "text")});
$background: var(--#{map.get(base.$obfuscated-vars, "background")});
$container-text: var(--#{map.get(base.$obfuscated-vars, "container-text")});
$container-background: var(--#{map.get(base.$obfuscated-vars, "container-background")});
