@use 'sass:map';
@use 'sass:list';
@use 'sass:color';

$hues: (
        'red': 18,
        'blue': 233,
        'green': 143
);

$colors: map.keys($hues);

$lightnessAndChromaValues: (
        'light': (
                'primary': 55% 0.15,
                'primary-contrast': 99% 0.005,
                'secondary': 27% 0.06,
                'secondary-contrast': 93% 0.03,
                'tertiary': 97% 0.011,
                'tertiary-variant': 100% 0,
        ),
        'dark': (
                'primary': 88% 0.064,
                'primary-contrast': 35% 0.1,
                'secondary': 93% 0.03,
                'secondary-contrast': 45% 0.1,
                'tertiary': 28% 0.02,
                'tertiary-variant': 20% 0.02,
        ),
);

@mixin make-theme($mode) {
  @if not map.has-key($lightnessAndChromaValues, $mode) {
    @error "Mode not found: #{$mode}";
  }
  @each $color in $colors {
    body[data-color="#{$color}"] *[data-color="initial"],
    *[data-color="#{$color}"] {
      @each $color-name, $lightness-chroma in map.get($lightnessAndChromaValues, $mode) {
        $lightness: list.nth($lightness-chroma, 1);
        $chroma: list.nth($lightness-chroma, 2);
        $hue: map.get($hues, $color);
        --color-accent-#{$color-name}: oklch(#{$lightness} #{$chroma} #{$hue});
      }
    }
  }
}
