@use "theme/scss/color";
@use "theme/scss/util";

.icon {
  margin-left: 0.2em;
  width: 0.65em;
  height: 0.65em;
  stroke: color.$accent-primary;
  fill: none;
  animation: spin 25s linear infinite;
  stroke-linecap: round;
  stroke-linejoin: round;
  vertical-align: middle;
  overflow: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scribbleOne {
  height: 100%;
  bottom: -35%;
  @include util.mw-sm {
    height: 130%;
    bottom: -50%;
  }
  @include util.mw-md {
    height: 140%;
    bottom: -60%;
  }
}

.scribbleTwo {
  bottom: -10vh;
  left: -5%;
  width: 110%;
  @include util.mw-sm {
    bottom: -20vh;
  }
  @include util.mw-md {
    bottom: -30vh;
  }
}
