@use 'theme/color';
@use 'theme/size';

.card {
  --height: 100%;

  max-width: 400px;
  text-decoration: none;
  color: color.$text;
  border-radius: size.$border-radius-large;
  position: relative;

  &:hover .cardBox {
    background-color: color.$container-background;
    color: color.$container-text;
    border-color: transparent;
  }
}

.cardBox {
  padding: size.$spacing-small;
  border-radius: size.$border-radius-large;
  display: grid;
  gap: size.$spacing-small;
  position: relative;
  background-color: color.$background;
  color: color.$text;
  border: 1px solid color.$text;
  transition-property: background-color, color, border-color;
  transition-duration: 200ms;
}

.title {
  font-size: size.$font-normal;
}

.date {
  font-size: size.$font-small;
  opacity: 0.7;
}

.title, .date {
  font-weight: 400;
}

.description {
  font-size: size.$font-small;
  padding-block-start: size.$spacing-small;
  padding-inline: size.$spacing-small;
  color: color.$text;
  font-weight: 300;
}
