@use 'theme/color';
@use 'theme/size';

.card {
  max-width: 425px;
  color: color.$text-primary;
  border-radius: size.$border-radius-large;
  position: relative;
}

.cardBox {
  text-decoration: none;
  padding: size.$spacing-large;
  border-radius: size.$border-radius-large;
  display: grid;
  gap: size.$spacing-small;
  position: relative;
  background-color: color.$accent-tertiary;
  color: color.$text-primary;
  transition-property: background-color, color, border-color;
  transition-duration: 200ms;
}

.title {
  font-size: size.$font-normal;
}

.date {
  font-size: size.$font-small;
  opacity: 0.7;
}

.title, .date {
  font-weight: 400;
}

.description {
  font-size: size.$font-small;
  padding-block-start: size.$spacing-small;
  padding-inline: size.$spacing-large;
  color: color.$text-primary;
  font-weight: 300;
  width: 100%;
}
