@use 'theme/scss/color';
@use 'theme/scss/util';
@use '../../theme/scss/size';

.interaction {
  all: inherit;
  cursor: pointer;
  display: inline;
  border-radius: size.$border-radius-small;
  color: color.$accent-primary;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  margin-inline: -6px;
  padding-inline: 6px 4px;
  box-decoration-break: clone;

  @include util.hover {
    outline: none;
    background-color: color.$accent-container-contrast;
    color: color.$accent-container;
    transition-duration: 400ms;
  }

  @include util.mw-md {
    margin-inline: -0.2em -0.1em;
    padding-inline: 0.2em 0.1em;
  }
}

// this is required to increase specificity and override the default size
.icon[class] {
  width: 0.6em;
  height: 0.6em;
  vertical-align: middle;
  margin-left: 0.1em;
}
