@use "theme/scss/color";
@use "theme/scss/util";
@use "theme/scss/size";

.interaction {
  all: inherit;
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: color.$accent-primary;
  margin-inline: -6px;
  padding-inline: 6px 4px;
  box-decoration-break: clone;

  &,
  &::before {
    border-radius: size.$border-radius-small;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0.1em 0;
    z-index: -1;
  }

  @include util.hover {
    outline: none;
    color: color.$accent-container;
    &,
    &::before {
      transition-duration: 400ms;
    }
    &::before {
      background-color: color.$accent-container-contrast;
    }
  }

  @include util.mw-md {
    margin-inline: -0.2em -0.1em;
    padding-inline: 0.2em 0.1em;
  }
}

// this is required to increase specificity and override the default size
.icon[class] {
  width: 0.6em;
  height: 0.6em;
  vertical-align: middle;
  margin-left: 0.1em;
}
