@use "theme/scss/color";
@use "theme/scss/util";
@use "theme/scss/size";

@value accent from '../Section/Section.module.scss';

.interaction {
  all: inherit;
  position: relative;
  cursor: pointer;
  display: inline;
  margin-inline: -6px;
  padding-inline: 6px 4px;
  box-decoration-break: clone;

  border-radius: size.$border-radius-small;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  & {
    --color: #{color.$accent-primary};
    --hover-color: #{color.$accent-container};
    --hover-bg-color: #{color.$accent-container-contrast};
  }
  .accent & {
    --color: #{color.$accent-container};
    --hover-color: #{color.$accent-container};
    --hover-bg-color: #{color.$accent-container-contrast};
  }

  color: var(--color);
  @include util.hover {
    color: var(--hover-color);
    outline: none;
    background-color: var(--hover-bg-color);
  }

  @include util.mw-md {
    margin-inline: -0.2em -0.1em;
    padding-inline: 0.2em 0.1em;
  }
}

// this is required to increase specificity and override the default size
.icon[class] {
  width: 0.6em;
  height: 0.6em;
  vertical-align: middle;
  margin-left: 0.1em;
}

.suffix {
  color: unset;
}
