@use 'theme/scss/color';

.container {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  & > span {
    grid-column: 1;
    grid-row: 1;
  }
}

.character {
  all: unset;
  z-index: 1;
  touch-action: none;

  &:focus-visible {
    text-decoration: underline solid color.$accent-primary;
  }
}

.shadow {
  z-index: 0;
  color: color.$accent-tint;
}
