@use 'theme/color';

.word {
  white-space: nowrap;
}

.characterContainer {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  & span {
    grid-column: 1;
    grid-row: 1;
    user-select: none;
  }
}

.character {
  z-index: 1;
  touch-action: none;
}

.shadow {
  z-index: 0;
  color: color.$accent-tint;
}
