@use 'theme/color';
@use 'theme/size';

.paragraph {
  user-select: none;
}

.word {
  white-space: nowrap;
}

.resetMessageViewport {
  position: fixed;
  top: size.$spacing-small;
  width: 100%;
  list-style: none;
  outline: none;
}

.resetMessage {
  user-select: none;
  color: color.$text-secondary;
  font-size: size.$font-small;

  &[data-state='open'] {
    animation: show 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  &[data-state='closed'] {
    animation: hide 100ms ease-in;
  }

  & span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes hide {
  from { opacity: 1; }
  to { opacity: 0; }
}
