@use 'theme/size';
@use 'theme/color';

.wrapper {
  position: relative;
  isolation: isolate;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
}

.button {
  all: unset;
  width: 20px;
  height: 20px;
  border-radius: size.$border-radius-small;
  cursor: pointer;
}
