@use 'theme/color';
@use 'theme/size';
@use 'theme/util';
@use 'theme/layout';

.page {
  @include layout.page;
  & > section {
    @include layout.section('accent');
    display: flex;
    justify-content: center;
  }
}

.link {
  width: 95%;
  max-width: 768px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  @include util.mw-md {
    width: 80%;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: size.$border-radius-large;
  border: 1px solid color.$accent-primary;
}

.light {
  @include util.mode(display, contents, none);
}

.dark {
  @include util.mode(display, none, contents);
}
