@use 'theme/scss/color';
@use 'theme/scss/size';
@use 'theme/scss/util';

.page > section {
  align-items: center;
}

.link {
  width: 95%;
  max-width: 768px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  @include util.mw-md {
    width: 80%;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: size.$border-radius-large;
  border: 1px solid color.$accent-primary;
}

.light {
  @include util.mode(display, contents, none);
}

.dark {
  @include util.mode(display, none, contents);
}
