$hover-transition: 200ms ease;

.link {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color $hover-transition;

  &::before {
    content: '';
    position: absolute;
    inset: 2px 0 2px -3px;
    border-radius: 8px;
    z-index: -1;
    background-color: var(--color-container-background);
    opacity: 0;
    transition: opacity $hover-transition;
  }

  &:hover, &:focus-visible {
    outline: none;
    color: var(--color-container-text);

    &::before {
        opacity: 1;
    }
  }
}

.icon {
  width: 0.8em;
  height: 0.8em;
}