@use 'theme/color';
@use 'theme/util';

$hover-transition: 200ms ease;

.link {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: color.$text;
  transition: color $hover-transition;

  &::before {
    content: '';
    position: absolute;
    inset: 2px 0 2px -3px;
    border-radius: 8px;
    z-index: -1;
    background-color: color.$container-background;
    opacity: 0;
    transition: opacity $hover-transition;
  }

  @include util.hover {
    outline: none;
    color: color.$container-text;

    &::before {
      opacity: 1;
    }
  }
}

.icon {
  width: 0.8em;
  height: 0.8em;
}