@use 'theme/color';
@use 'theme/util';
@use 'theme/size';

.link {
  display: inline;
  text-decoration: none;
  border-radius: size.$border-radius-small;
  color: color.$accent-primary;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  margin-inline: -6px;
  padding-inline: 6px 4px;
  box-decoration-break: clone;

  @include util.hover {
    outline: none;
    background-color: color.$accent-container-contrast;
    color: color.$accent-container;
    transition-duration: 400ms;
  }

  @include util.mw-md {
    margin-inline: -0.3em -0.2em;
    padding-inline: 0.3em 0.2em;
  }
}

.icon {
  width: 0.8em;
  height: 0.8em;
  vertical-align: middle;
}