@use "theme/scss/color";
@use "theme/scss/size";

.container {
  z-index: 2;
  position: fixed;
  inset: auto 0 size.$spacing-large;
  display: grid;
  place-content: center;
  pointer-events: none;
}

.actionBar {
  display: flex;
  justify-content: center;
  border-radius: size.$border-radius-small;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  background-color: color.$accent-container-contrast;
  pointer-events: auto;
}

.separator {
  height: 18px;
  width: 1px;
  background-color: color.$accent-container;
  opacity: 0.4;
  margin-right: 4px;
}
